{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, nihil molestias. Deleniti asperiores voluptate, dolore libero quidem sunt consequuntur odio soluta, magnam officiis quasi ad expedita eligendi optio rerum culpa possimus dolorum nisi recusandae laboriosam iusto ducimus qui nemo labore.</p>
<p>Odit harum rem fugiat? Perferendis maxime animi temporibus, illo sed itaque fugit natus culpa, doloremque nostrum tempora ullam nisi adipisci nihil nesciunt iusto ex quibusdam corrupti pariatur rerum voluptas! Nostrum et sapiente veritatis magnam placeat labore nesciunt atque ratione quis.</p>
{% endblock %}